{erl_opts, [debug_info]}.
{deps, [
  {tuntap, {git, "https://github.com/wangzihao223/erltuntap.git", {branch, "master"}}}
]}.



{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
     {extras, ["README.md", "LICENSE.md"]},
     {main, "README.md"},
     {source_url, "https://github.com/wangzihao223/erl_np.git"}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.

